<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <mat-toolbar>
      <div style="display: flex; justify-content: space-between; width: 50%">
          <button mat-icon-button [matMenuTriggerFor]="menu">
              Menu
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="/favorite" (click)="loadFavorite()">
                <span>Favorite</span>
              </button>
              <button mat-menu-item routerLink="/detail" (click)="loadDetail()">
                <span>Detail</span>
              </button>
              <button mat-menu-item routerLink="/" (click)="loadList()">
                <span>List</span>
              </button>
            </mat-menu>
            <h2>{{title}}</h2>
      </div>
    </mat-toolbar>
    
    <router-outlet></router-outlet>

    <!-- <h1> routed links</h1>
    <ol>
        <li> <a routerLink="/" (click)="loadList()">root</a></li>
        <li> <a routerLink="/favorite" (click)="loadFavorite()">Favorite</a></li>
        <li> <a routerLink="/detail" (click)="loadDetail()">detail</a></li>
        <li> <a routerLink="/detail/{{userId}}">detail userId = {{userId}}</a></li>
    </ol> -->


    <div *ngIf="showListView">
      <h1>  List of Users </h1>

        <mat-list>
          <mat-list-item *ngFor="let user of users; index as i">
              <img matListAvatar 
                src={{user.avatar}} 
                alt="pic" 
                routerLink="/detail/{{i}}" 
                (click)="onDetail(i)"
              >
              <p matLine> {{ user.firstname }} </p>
              <button mat-fab 
                disabled="{{user.liked}}"
                (click)="onClickFav(user, i)"              
                 >                 
                <span>like</span>
              </button> 
              <button mat-fab 
                color="warn" 
                (click)="onRemove(i)">
                remove
              </button>
          </mat-list-item>
        </mat-list>

        <hr matLine />
        <button mat-flat-button color="primary" (click)="onMore()">Load More</button>
    
    </div>



</div>

