<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <mat-toolbar>
      <div style="display: flex; justify-content: space-between; width: 50%">
          <button mat-icon-button [matMenuTriggerFor]="menu">
              Menu
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="/favorite" (click)="loadFavorite()">
                <span>Favorite</span>
              </button>
              <button mat-menu-item routerLink="/detail" (click)="loadFind()">
                <span>Detail View</span>
              </button>
              <button mat-menu-item routerLink="/list">
                <span>List View</span>
              </button>
            </mat-menu>
            <h2>{{title}} test</h2>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- <div *ngIf="!hideDetail">
      <app-detail-view [user]="user" (goNext)="next()"></app-detail-view>
    </div> -->

    <h1> app list </h1>
    <ul>
        <li *ngFor="let user of users; index as i">
          {{user.firstname}} <img src={{user.avatar}} alt="pic" height="50" width="50">
          <button (click)="onClickFav(user, i)">like</button> <button (click)="onRemove(i)">delete</button>
        </li>
    </ul>
    <button (click)="onMore()">More</button>


    <!-- <h1> list view</h1>
    <hr />
    <app-list-view [users]="users"></app-list-view>
    <button (click)="onMore()">More</button>
    <hr /> -->

</div>

