<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <mat-toolbar>
      <div style="display: flex; justify-content: space-between; width: 50%">
          <button mat-icon-button [matMenuTriggerFor]="menu">
              Menu
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="/favorite" (click)="loadFavorite()">
                <span>Favorite</span>
              </button>
              <button mat-menu-item routerLink="/detail" (click)="loadDetail()">
                <span>Detail</span>
              </button>
              <button mat-menu-item routerLink="/" (click)="loadList()">
                <span>List</span>
              </button>
            </mat-menu>
            <h2>{{title}} test</h2>
      </div>
    </mat-toolbar>
    
    <router-outlet></router-outlet>

    <!-- <h1> routed links</h1>
    <ol>
        <li> <a routerLink="/" (click)="loadList()">root</a></li>
        <li> <a routerLink="/favorite" (click)="loadFavorite()">Favorite</a></li>
        <li> <a routerLink="/detail" (click)="loadDetail()">detail</a></li>
        <li> <a routerLink="/detail/{{userId}}">detail userId = {{userId}}</a></li>
    </ol> -->


    <!-- <div *ngIf="!hideDetail"> -->
      <!-- <h1> detail </h1>
      <app-detail-view [user]="user" (goNext)="next()"></app-detail-view> -->
    <!-- </div> -->

    <div *ngIf="showListView">
      <h1>  List of Users </h1>
        <ul>
            <li *ngFor="let user of users; index as i">
                <a (click)="onDetail(i)" routerLink="/detail/{{i}}">id = {{i}} (click for detail)
                  <label >{{user.firstname}}</label> 
                  <img src={{user.avatar}} alt="pic" height="50" width="50">
                </a>
                <button (click)="onClickFav(user, i)">like</button> 
                <button (click)="onRemove(i)">delete</button>
            </li>
        </ul>

        <hr />
        <!-- <app-list-view [users]="users"></app-list-view> -->
        <button (click)="onMore()">More</button>
        <hr />
    
    </div>



</div>

