<!-- <ul>
  <li *ngFor="let user of users; index as i">
    {{user.firstname}} <img src={{user.avatar}} alt="pic" height="50" width="50">
    <button (click)="onClickFav(user)">like</button> <button>delete</button>
  </li>
</ul> -->



<mat-list>
    <mat-list-item *ngFor="let user of users; index as i">
      <img matListAvatar src={{user.avatar}} alt="pic" >
      <h3 matLine> {{user.firstname} </h3>
      <p matLine>
        <span> {{user.age}} </span>
        <span class="demo-2"> -- {{user.age}} </span>
      </p>
      <button (click)="onClickFav(user)">like</button> <button>delete</button>
    </mat-list-item>
  </mat-list>