<!DOCTYPE html>

<html>

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<title>Todo</title>
</head>

<body ng-app="myApp" ng-controller="myController">
	<h1> Todo List </h1>
	<br />
	
	<h3> Filtering </h3>
	<input type="text" ng-model="name" />

	<h3>
		<div ng-repeat="(key, item) in items | filter:name">
			{{key}} -  {{item.name}} - {{item.priority | uppercase}} <button ng-click="delItem(key)">Delete</button> 
		</div>
	</h3>

	<hr></hr>

	<label>Name: </label>
	<input type="text" ng-model="newName" />
	<label>Priority: </label>
	<select ng-model="newPriority">
		<option value="High">High</option>
		<option value="Normal">Normal</option>
		<option value="Low">Low</option>
	</select>
	<br />
	<button ng-click="addItem()">Add Item </button>

	<script>
		var app = angular.module('myApp', []);

		// define factory (data producer?)
		app.factory('myFactory', function()
		{
			var factory = {};

			var items = [
				{name:'buy tickets', priority:'High'}, 
				{name:'shopping', priority:'Normal'}, 
				{name:'dancing', priority:'Low'},
				{name:'singning', priority:'Low'}
			];

			factory.getitems = function(){
				return items;
			};

			return factory;
		});

		// define controller
		app.controller('myController', myController);

		// inject factory to controller
		function myController($scope, myFactory) {
			init();
			
			function init() {
				$scope.items = myFactory.getitems();
			}

			$scope.addItem = () => {
				console.log($scope.newName, $scope.newPriority);
				let newName = $scope.newName === undefined ? "Something" : $scope.newName;
				let newPriority = $scope.newPriority === undefined? "Low" : $scope.newPriority;
				$scope.items.push(
				{
					name:newName,
					priority:newPriority,
				});
			};

			$scope.delItem = (key) => {
				console.log("del item." + key);
				$scope.items.splice(key,1);
			}
		};
	</script>

</body>

</html>